body, td {
  font-family: Trebuchet MS;
  background-color: #fff;
  color: #444;
  line-height: 1.2em;
}

a {
  text-decoration: none
}

.name-header {
  font-weight: bold;
  letter-spacing: 1.5em;
  text-align: center;
}