<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		<link rel="alternate" href="/index.xml" type="application/rss+xml" title="{{ metadata.title }}" />
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		<script>
			function loadScript(url) {
				const script = document.createElement('script');
				script.src = url;
				document.head.appendChild(script);
			}

			if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				loadScript('/js/prism-dark-theme.js');
			} else {
				loadScript('/js/prism-light-theme.js');
			}

			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
				if (event.matches) {
					loadScript('/js/prism-dark-theme.js');
				} else {
					loadScript('/js/prism-light-theme.js');
				}
			});
		</script>

		{%- css %}{% include "public/css/index.css" %}{% endcss %}

		<style>{% getBundle "css" %}</style>
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>

			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>

			<a href="/index.xml">
				<svg class="feather">
					<use href="/feather-sprite.svg#rss"/>
				</svg>
			</a>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer></footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
